<!DOCTYPE html>
<html ng-app="egglyApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Eggly</title>

    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="/coding/lib/bootstrap-3.3.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="assets/css/eggly.css">
    <link rel="stylesheet" href="assets/css/animations.css">
</head>

<body ng-controller="MainController as main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <a href="#" ng-click="main.setCurrentCategory(null)">
                    <img class="logo" src="assets/img/eggly-logo.png">
                </a>
                <ul class="nav nav-sidebar">
                    <li ng-repeat="category in main.categories"
                        ng-class="{'active':main.isCurrentCategory(category)}">
                        <a href="#" ng-click="main.setCurrentCategory(category)">{{ category.name }}</a>
                    </li>

                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div ng-class="{'active':main.isSelectedBookmark(bookmark.id)}"
                     ng-repeat="bookmark in main.bookmarks | filter:{category:main.currentCategory.name}">
                    <button class="close"
                            ng-click="main.deleteBookmark(bookmark)">&times;</button>
                    <button class="btn btn-link"
                            ng-click="main.setEditedBookmark(bookmark); main.startEditing();">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <a href="{{ bookmark.url }}" target="_blank">{{ bookmark.title }}</a>
                </div>
                <div>
                    <button class="close">&times;</button>
                </div>
                <div ng-if="!main.isCreating && !main.isEditing && main.currentCategory">
                    <hr>
                    <button class="btn btn-link"
                            ng-click="main.startCreating()">
                        <span class="glyphicon glyphicon-plus"></span>
                        Create a bookmark
                    </button>
                </div>
                <!-- CREATING -->
                <div ng-if="main.shouldShowCreating()">
                    <hr>
                    <form class="create-form"

                          role="form"
                          ng-submit="main.createBookmark(main.newBookmark)"
                          novalidate>
                        <div class="form-group">
                            <label>Bookmark Title</label>
                            <input type="text" class="form-control" ng-model="main.newBookmark.title">
                        </div>
                        <div class="form-group">
                            <label>Bookmark URL</label>
                            <input type="text" class="form-control" ng-model="main.newBookmark.url">
                        </div>
                        <button type="submit" class="btn btn-info btn-lg">Create</button>
                        <button class="btn btn-default btn-lg pull-right"
                                ng-click="main.cancelCreating()">
                            Cancel
                        </button>
                    </form>
                </div>
                <!-- EDITING -->
                <div ng-if="main.shouldShowEditing()">
                    <hr>
                    <h4>Editing {{ main.editedBookmark.title }}</h4>
                    <form class="edit-form"
                          role="form"
                          ng-submit="main.updateBookmark(main.editedBookmark)"
                          novalidate>
                        <div class="form-group">
                            <label>Bookmark Title</label>
                            <input type="text" class="form-control" ng-model="main.editedBookmark.title">
                        </div>
                        <div class="form-group">
                            <label>Bookmark URL</label>
                            <input type="text" class="form-control" ng-model="main.editedBookmark.url">
                        </div>
                        <button class="btn btn-info btn-lg">Save</button>
                        <button class="btn btn-default btn-lg pull-right" ng-click="main.cancelEditing()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="/coding/lib/jquery/jquery-2.1.3.min.js"></script>
<script src="/coding/lib/bootstrap-3.3.2/js/bootstrap.min.js"></script>
<script src="/coding/lib/lodash/lodash.min.js"></script>
<script src="/coding/lib/angular/angular.min.js"></script>
<script src="app/app.js"></script>
</body>
</html>